<div class="container-fluid">
  <h1 class="text-sm-center">Book Club!</h1>
  <h2 class="text-sm-center tag-info">Join us every Wednesday Night as we dissect various books</h2>
  <div class="row">
    <div class="alert alert-info col-sm-4 offset-xs-4" role="alter">
      First meeting will be held on Wednesday November 16, 2016
    </div>
  </div>
  <h3>Current Book</h3>
  <div class="col-sm-3"
      <div class="card">
        <div class="card-block">
          <h3><a href="http://eloquentjavascript.net/" target="_blank">Eloquent JavaScript</a></h3>
        </div>
        <img class="card-img-middle" src="../assets/images/EloquentJavascriptCover.png" alt="Card image cap">
        <div class="card-block">
          <h5><a href="">Notes</a></h5>
          <h5><a href="">Exercises</a></h5>
        </div>
      </div>
  </div>
</div>