<!-- Events Css -->
<link rel="stylesheet" href="assets/css/events.css">

<div class="container" id="events">
	<h1>Upcoming Events</h1>
	<table class="table table-striped">
		<thead class="thead-inverse">
			<th>Event</th>
			<th>Type</th>
			<th>Date</th>
			<th>Host</th>
			<th>Description</th>
			<th>Actions</th>
		</thead>
		<tbody>
			<tr ng-repeat="event in events|orderBy:'date'">
				<td>{{event.title}}</td>
				<td>{{event.type}}</td>
				<td>{{event.date|date:'yyyy-MM-dd':'+0600'}}</td>
				<td>{{event.host}}</td>
				<td>{{event.description}}</td>
				<td>
					<button class="btn btn-danger" ng-click='deleteEvent(event._id)'>Delete Event</button>
				</td>
			</tr>
		</tbody>
	</table>

	<h2>Add a New DojoAfterDark Event!</h2>
	<div ng-if='errors.length > 0'>
		<p ng-repeat='error in errors'><span class="tag tag-warning">{{error}}</span></p>
	</div>
	<form>
		<label>Event Title: <input class="form-control" type="text" ng-model='myEvent.title'></label>
		<label>Event Type: 
			<select class="form-control" ng-model='myEvent.type'>
				<option value="demo">Demo</option>
				<option value="workshop">Workshop</option>
				<option value="bookclub">Book Club</option>
				<option value="talk/lecture">Talk/Lecture</option>
			</select>
		</label>
		<label>Event Date: <input class="form-control" type="date" ng-model='myEvent.date'></label>
		<label>Event Host (optional): <input class="form-control" type="text" ng-model='myEvent.host'></label>
		<label>Event Description: <textarea ng-model='myEvent.description' class="form-control" cols="30" rows="10"></textarea></label>
		<button class="btn btn-default" ng-click='newEvent()'>Add Event</button>
	</form>
</div>