<div class="jumbotron dark">
  <h1 class="display-3">Welcome to Dojo After Dark!</h1>
  <p class="lead">This Virtual Dojo is your playground.</p>
  <hr class="my-2">
  <p>Fork and contribute to this project.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/dojoAfterDark/dojo" role="button">Check us out at GitHub</a>
    <a class="btn btn-primary btn-success" href="#/events">Upcoming Events</a>
  </p>
</div>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">What is this?</h4>
        <p class="card-text">This is an open source project created by Coding Dojo students and alumni in the Dojo After Dark program.</p>
        <p class="card-text">The goal of this project is to promote continuous education for developers.</p>
        <p class="card-text">This project is designed to be a playground where developers can discover and learn through collaboration.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Who are we?</h4>
        <p class="card-text">We are the Ninja Association.</p>
        <p class="card-text">We are coders.</p>
        <p class="card-text">Any student or alumni of the Coding Dojo Burbank can make a contribution.</p>
      </div>
    </div>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Why are we doing this?</h4>
        <p class="card-text">The goal of this community is to build a hackable site where we can practice and learn new skills.</p>
      </div>
    </div>
  </div>
</div>
<h1 class="center">Check out our Ninjas!</h1>
<div class="col-md-4">
  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <h3 class="card-title">CBAUT</h3>
      <p class="card-text">Currently under construction.</p>
      <a href="#/cbaut" class="btn btn-primary">Check out my page!</a>
    </div>
  </div>
</div>