<!-- Ninja Section -->
<h1 class="center">Check out our Ninjas!</h1>
<div class="col-md-3">
  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
    <div class="card-block">
      <h3 class="card-title text-sm-center">CBAUT</h3>
      <p class="card-text text-sm-center">Full Stack Developer</p>
      <img class="card-img-middle" src="http://i.imgur.com/Ipg62jA.jpg?1" alt="Card image cap" style="height: auto; width: 300px">
      <a href="#/cbaut" class="btn btn-danger btn-block">Check out my page!</a>
    </div>
  </div>
</div>